<a href="/"> <img src="https://www.corona.com/sites/g/files/wnfebl661/files/CORONA/corona_logo.svg" alt=""></a>
<nav>
    <a href="/allCountries"> All Countries</a>
    <a href="/saveData"> Saved Countries</a>
</nav>