<!DOCTYPE html>
<html lang="en">
<head>

    <title>Already added</title>
    <%- include('../layouts/head') %> 

</head>
<body>
    <header>

        <%- include('../layouts/header') %> 


    </header>

    <main>
        <h2>
            Already Added, Add new Data Please
        </h2>
    </main>
    
</body>
</html>